apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
  labels:
    deployment: {{ .Release.Name }}
spec:
  replicas: {{ .Values.wordpress.replicas }}
  selector:
    matchLabels:
      deployment: {{ .Release.Name }}
  template:
    metadata:
      labels:
        deployment: {{ .Release.Name }}
    spec:
      automountServiceAccountToken: false
      containers:
        - name: wordpress
          image: wordpress:6.9.0-php8.5-apache
          ports:
            - containerPort: 80
          resources:
            limits:
              cpu: 375m
              ephemeral-storage: 2Gi
              memory: 384Mi
            requests:
              cpu: 250m
              ephemeral-storage: 50Mi
              memory: 256Mi
          {{- if and .Values.wordpress .Values.wordpress.apache }}
          lifecycle:
            postStart:
              exec:
                command:
                  - /bin/sh
                  - -c
                  - |
                    {{- range .Values.wordpress.apache.enconf }}
                    /usr/sbin/a2enconf {{ . }} &&
                    {{- end }}
                    {{- range .Values.wordpress.apache.disconf }}
                    /usr/sbin/a2disconf {{ . }} &&
                    {{- end }}
                    /usr/sbin/service apache2 reload
          {{- end }}
          env:
            - name: WORDPRESS_DB_HOST
              valueFrom:
                secretKeyRef:
                  name: wordpress-{{ include "name" . }}-connection
                  key: host
            - name: WORDPRESS_DB_USER
              valueFrom:
                secretKeyRef:
                  name: wordpress-{{ include "name" . }}-connection
                  key: username
            - name: WORDPRESS_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: wordpress-{{ include "name" . }}-connection
                  key: password
            - name: WORDPRESS_DB_NAME
              valueFrom:
                secretKeyRef:
                  name: wordpress-{{ include "name" . }}-connection
                  key: database
          volumeMounts:
            - name: wordpress-pvc
              mountPath: /var/www/html
            {{- if .Values.wordpress.phpIni }}
            - name: php-ini
              mountPath: /usr/local/etc/php/conf.d/php.ini
              subPath: php.ini
            {{- end }}
            - name: confavailable-apache-conf
              mountPath: /etc/apache2/conf-available/cloudflare.conf
              subPath: cloudflare.conf
      volumes:
        - name: wordpress-pvc
          persistentVolumeClaim:
            claimName: wordpress-{{ include "name" . }}-pvc
        {{- if .Values.wordpress.phpIni }}
        - name: php-ini
          configMap:
            name: wordpress-{{ .Release.Name }}-php-ini
        {{- end }}
        - name: confavailable-apache-conf
          configMap:
            name: wordpress-{{ .Release.Name }}-confavailable-apache-conf
