{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ .Release.Name }}-ingress
  namespace: {{ .Release.Namespace }}
  annotations:
    {{- range $key, $value := .Values.ingress.annotations }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
spec:
  tls:
    - hosts:
      - {{ .Values.ingress.hostname }}
      secretName: {{ .Values.ingress.hostname }}-tls
  rules:
    - host: {{ .Values.ingress.hostname }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ .Release.Name | replace "." "-" }}-svc
                port:
                  number: 80
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name | replace "." "-" }}-svc
  namespace: {{ .Release.Namespace }}
spec:
  type: ClusterIP
  selector:
    deployment: {{ .Release.Name }}
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
{{- end }}
