apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: wordpress-{{ include "name" . }}-pvc
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/hook": pre-install
    "helm.sh/hook-weight": "-10"
spec:
  accessModes: {{ .Values.persistence.accessModes }} 
  resources:
    requests:
      storage: {{ .Values.persistence.size }}
  storageClassName: {{ .Values.persistence.storageClass }}
  volumeMode: Filesystem
{{- if eq (lower .Values.persistence.storageClass) "hostpath" }}
  volumeName: wordpress-{{ include "name" . }}-pv
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: wordpress-{{ include "name" . }}-pv
spec:
  persistentVolumeReclaimPolicy: Delete
  capacity:
    storage: {{ .Values.persistence.size }}
  accessModes: [ReadWriteOnce]
  storageClassName: {{ .Values.persistence.storageClass }}
  volumeMode: Filesystem
  hostPath:
    path: /var/lib/rancher/k3s/storage/pvc-wordpress-{{ include "name" . }}-pv
{{- end}}