{{- if .Values.Ingress -}}
kind: Ingress
apiVersion: networking.k8s.io/v1
metadata:
  name: {{ .Values.Ingress.name }}
  annotations:
    {{- if .Values.Ingress.middlewares }}
    {{- $middlewares := list }}
    {{- range $middleware := .Values.Ingress.middlewares }}
      {{- $middleware := print $.Release.Namespace "-" $middleware "@kubernetescrd"  }}
      {{- $middlewares = append $middlewares $middleware  }}
    {{- end }}
    "traefik.ingress.kubernetes.io/router.middlewares": {{ $middlewares | join ", " }}
    {{- end }}
    {{- if .Values.Ingress.annotations }}
    {{- range $key, $value := .Values.Ingress.annotations }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
    {{- end }}
spec:
  tls:
    {{- if .Values.Ingress.tls_secret }}
    {{- range .Values.Ingress.hosts }}
    - hosts:
      - {{ .hostname }}
      secretName: {{ $.Values.Ingress.tls_secret }}
    {{- end }}
    {{- end }}
  rules:
    {{- range .Values.Ingress.hosts }}
    - host: {{ .hostname }}
      http:
        paths:
        - backend:
            service:
              name: {{ .forwardhost }}
              port:
                number: {{ .forwardport }}
          path: /
          pathType: Prefix
    {{- end }}
{{- end }}
