ingress:
  hostname: example.com
  wwwPrefix: false 

wordpress:
  init:
    enabled: false
    url: "https://example.com"
    title: "My Blog"
    adminUser: "admin"
    adminPassword: "supersecret"
    adminEmail: "admin@example.com"
  phpIni: |-
    upload_max_filesize = 1G  ; default 2M
    post_max_size = 1G        ; default 8M
    max_execution_time = 600  ; default 30
  apache:
    enconf: [cloudflare]
    disconf: [remoteip]

externalDatabaseMariadb:
  mariaDbRef:
    name: mariadb-public000-asset
    namespace: asset-public-mariadb

persistence: # mountPath: /var/www/html
  storageClass: local-path # will create a persistent storage if it is local-path
  size: 1Gi
